html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ======== Global Page Background ======== */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../images/page_background.png");
    color: white;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/* ======== header ======== */
header.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(6, 23, 31);
    color: white;
    /* flex-wrap: wrap; */

}

/*========== header: main =========*/

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 200px;
    height: auto;
}

.logo h1 {
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.0;
}


/*========== top heading: main-2 =========*/

/* .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: auto;
    width: 5%;
}

.logo h1 {
    margin: 0;
    font-size: 1.8rem;
} */



/*========== Navigation =========*/

/* aligns on right */

.nav_main {
    display: flex;
    flex-wrap: wrap;
}

.nav_main a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav_main a:hover {
    color: #d97130;
    text-decoration: underline;
}


/* ========= Mobile (max-width: 600px) ========= */
@media (max-width: 600px) {

    header.main {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .logo {
        gap: 8px;
    }

    .logo img {
        width: 110px;
        /* smaller logo */
    }

    .logo h1 {
        font-size: 1rem;
        max-width: 240px;
        /* prevent overflow */
    }

    .nav_main {
        margin-top: 10px;
        gap: 10px;
        /* flex-direction: column; */
        /* vertical nav for mobile */
        width: 100%;
    }

    .nav_main a {
        margin: 6px 0;
        font-size: .8rem;
    }
}


/*========== Section =========*/

section {
    text-align: center;
    width: 50%;
    max-width: 90%;
    background-color: rgb(247 241 222);
    color: black;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(255, 255, 25, 0.6);
    padding: 0 30px 30px 30px;
    overflow: hidden;
}

/*========== Section: heading =========*/
section h1 {
    margin: 0;
    padding: 15px 30px;
    background-color: rgba(13, 17, 137, 0.85);
    color: #00FFFF;
    font-family: 'ChopinScript', cursive;
    margin-left: -30px;
    margin-right: -30px;
}

/*========== Section: paragraph =========*/
section p {
    text-align: justify;
    font-size: 1.2em;
}


/* ========= Mobile (max-width: 600px) ========= */
@media (max-width: 600px) {

    section {
        margin: 30px auto;
        padding: 0 15px 15px 15px;
    }

    section p {
        font-size: 1em;
    }

}

/*========== footer =========*/

footer {
    background-color: rgb(6, 23, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}


footer .logo h1 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

footer a:visited {
    color: white;

}

footer a:hover {
    text-decoration: underline;
    color: #ffd700;
}