/* ========= Mobile (max-width: 600px) ========= */
@media (max-width: 600px) {

    section {
        max-width: 100%;
        width: 98%;
        margin: 1px;
    }
}







#schedule {
    text-align: center;
}


#schedule .schedule-section {
    width: 80%;
    display: inline-block;
    max-width: 100%;
    margin: 60px auto;
    padding: 0 0 30px 0;
}

/* Section Heading */
.schedule-section h1 {
    text-align: center;
}

/* Table Styling */
.schedule-table {
    width: 90%;
    /* max-width: 100%; */
    /* width: auto; */
    /* shrink to content */
    margin: 0 auto;
    /* center table */
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Table Head */
.schedule-table thead {
    background-color: #3c8814;
    color: white;
}

.schedule-table th,
.schedule-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1rem;
}

.schedule-table td:nth-child(3),
.schedule-table th:nth-child(3) {
    text-align: left;
}



/* Table Row Hover */
.schedule-table tbody tr:hover {
    background-color: #b3cdeb;
    transition: 0.3s ease;
}

/* Last Row */
.schedule-table tbody tr:last-child td {
    border-bottom: none;
}

/* Responsive */
@media (max-width: 700px) {

    .schedule-table th,
    .schedule-table td {
        padding: 10px;
        font-size: 0.9rem;
    }

    #event-schedule h1 {
        font-size: 1.7rem;
    }
}

/* ========= Mobile (max-width: 600px) ========= */
@media (max-width: 600px) {



    #schedule .schedule-section {
        width: 100%;
        margin: 10px auto;
        padding: 0 10px;
    }


    /* Table Styling */
    .schedule-table {
        max-width: 99%;
        width: 95%;
        margin-bottom: 10px;
        margin-right: 20px;
    }

}