/* =================================================
                  Index
   =================================================*/



/*========== registration ribbon =========*/

#event-ribbon {
    width: 100%;
    max-width: 100%;
    overflow: visible;
    background: #ffffffaa;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    border-top: 4px solid #ad0000;
    border-bottom: 4px solid #ad0000;
    border-radius: 0px;
}



#event-ribbon h1 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(255, 255, 25, 0.6);
    background-color: rgba(38, 99, 16, 0.85);
    text-align: center;

}



#event-ribbon .ribbon-container {
    width: 100%;
    overflow: visible !important;
    position: relative;
}

#event-ribbon .ribbon-track {
    display: flex;
    gap: 1%;
    animation: scrollRibbon 10s linear infinite;
    overflow: visible;
}

#event-ribbon .ribbon-track img {
    height: 20vh;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.323);
    transition: transform 0.1s;
    position: relative;
    z-index: 5;
}



/* Slow Image Hover Zoom */
#event-ribbon .ribbon-track img:hover {
    transform: scale(1.08);
}

/* Animation */
@keyframes scrollRibbon {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* PAUSE SCROLL ON HOVER */
#event-ribbon .ribbon-track:hover {
    animation-play-state: paused;
}


#event-ribbon .event-box {
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 20px auto;
}



#event-ribbon .event-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
}

#event-ribbon .event-image {
    width: 10%;
    height: 180px;
    object-fit: cover;
    /* keeps correct aspect ratio */
    border-radius: 10px;
    margin-bottom: 20px;
}

#event-ribbon .event-btn {
    display: inline-block;
    padding: 10px 18px;
    background: #33A1E0;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
}

#event-ribbon .event-btn:hover {
    background-color: #0046FF;
    transform: scale(1.05);
}


/* ========= Mobile (max-width: 600px) ========= */
@media (max-width: 600px) {
    #event-ribbon {
        border-top: 2px solid #ad0000;
        border-bottom: 2px solid #ad0000;
    }

    #event-ribbon h1 {
        width: 70%;
    }

    #event-ribbon .ribbon-track {
        margin-top: 10px;
    }

    #event-ribbon .ribbon-track img {
        height: 100px;
        width: auto;
    }

    #event-ribbon .event-box {
        width: 70%;
        padding: 10px;
        margin: 5px auto;
    }


    #event-ribbon .event-title {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #event-ribbon .event-image {
        width: 10%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    #event-ribbon .event-btn {
        padding: 5px 5px;
        font-size: 12px;
    }
}